.fake-search-field-btn {
  background-color: var(--white);
  background-image: url('../../assets/search-solid.svg');
  border: 0;
  font-size: .6em;
  background-repeat: no-repeat;
  background-position: left;
  transform: scaleX(-1);
  flex: 1;
}

.fake-search-field-container {
  background-color: white;
  padding: .5em;
  display: flex;
}


/* Tablets & landscape mode phones */
@media only screen and (min-width: 700px) {

  .fake-search-field-btn {
    font-size: .8em;
  }

}
