.input-textarea-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.input-textarea-label {
  font-size: .75em;
  margin-bottom: .4em;
}

.input-textarea {
  background-color: var(--lightGray);
  border: none;
  font-size: .85em;
  padding: .3em .7em;
  resize: none;
  height: 8em;
}
