.btn {
  border: 0;
  border-radius: .5em;
  padding: .5em 1em;
  background-color: inherit;
}

.btn:active {
  opacity: .7;
}

.btn-size-small {
  font-size: .8em;
}

.btn-size-medium {
  font-size: 1em;
}


.btn-size-big {
  font-size: 5em;
}


/* Tablets & landscape mode phones */
@media only screen and (min-width: 700px) {

  .btn-size-small {
    font-size: 1em;
  }

  .btn-size-medium {
    font-size: 1.2em;
  }

  .btn-size-big {
    font-size: 11em;
  }

}
