.BoardItemDetail-main-container {
  font-size: 0.8em;
  line-height: 1.3em;
}

.BoardItemDetail-inner-container {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
  line-height: 1.4em;
  color: var(--black);
}

.board-item-detail-title {
  font-weight: bold;
}

.board-item-detail{
  margin-left: .5em;
  list-style-type:none;
}
