.board-item-detail-title{
  font-weight: 600;
}

.board-item-detail{
  padding-left: 10px;
  font-weight: 400;
  list-style-type:none
}

.BoardItemDetail-main-container{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.75em;
}
.BoardItemDetail-inner-container{
  display: flex;
  flex: row;
}

.BoardItemDescription-container{
  padding-top: 15px;
  padding-bottom: 15px;
  color: var (--darkBlue);
}


