:root {
  --darkBlue: #142a50;
  --medBlue: #365c85;
  --lightBlue: #b3c1d1;
  --darkOrange: #daab27;
  --lightOrange: #feebb1;
  --lightGray: #e5e5e5;
  --medGray: #d5d5d5;
  --white: #ffffff;
  --black: #000000;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  outline: none;
  font-family: Montserrat;
  color: var(--darkBlue);
  box-sizing: border-box;
  font-size: 14px;
}

textarea, input {
  font-family: Montserrat;
}

#globalContainer {
  min-height: 100vh;
}

#innerGlobalContainer {
  margin: 0 5vw;
  padding-bottom: 1px;
}

section {
  margin-bottom: 2em;
}

/* Tablets & landscape mode phones */
@media only screen and (min-width: 700px) {

  *, body {
    font-size: 18px;
  }

  #innerGlobalContainer {
    margin: 0 10vw;
  }

  section {
    margin-bottom: 2em;
  }
}

/* Desktopes */
@media only screen and (min-width: 1025px) {

  #globalContainer {
    display: flex;
    justify-content: center;
  }

  #innerGlobalContainer {
    flex-grow: 1;
    max-width: 900px;
    margin: 0;
  }
}
