.input-file-container {
  margin-bottom: 0.5em;
}

.input-file-label {
  font-size: .75em;
  margin-bottom: .4em;
}

.input-file-btn {
  border: 0;
  font-size: .7em;
  padding: .5em;
  background-color: var(--lightGray);
}

.input-file-btn:active {
  opacity: .7;
}


/* Tablets & landscape mode phones */
@media only screen and (min-width: 700px) {

  .input-file-label {
    font-size: 1em;
  }

  .input-file-btn {
    font-size: 1em;
    padding: .6em;
  }

}
