.input-field-container {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.input-field-label {
  font-size: .75em;
  margin-bottom: .4em;
}

.input-field {
  background-color: var(--lightGray);
  border: none;
  font-size: .85em;
  padding: .3em .7em;
}



/* Tablets & landscape mode phones */
@media only screen and (min-width: 700px) {

  .input-field-label {
    font-size: 1em;
  }

  .input-field {
    font-size: 1em;
  }

}
