.searchline-container{
  display: flex;
  flex-direction: row;
}
.date-cat-loc-search{
  display: flex;
  font-size: 0.9em;
  padding-top: 8px;
}

.search-button{
  display: flex;
  justify-content: flex-end;
  transform: scale(0.7);
}